<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap"
      rel="stylesheet"
    />
    <title>{{ title }}</title>
  </head>
  <body class="sans">
    {% include "./components/nav.njk" %}
    <div
      class="flex flex-col jersey items-center p-32 h-screen bg-yellow"
    >
      <img
        class="w-32"
        src="https://media.tenor.com/tbLD5H8CIO8AAAAi/hot-dog-hot-dogs.gif"
      />
      <header class="mb-7 ">
        <h1 class="text-5xl text-red font-bold">{{ title }}</h1>
      </header>
      <main class="text-2xl ">{{ content | safe }}</main>
    </div>
  </body>
</html>
