<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    <title>{{title}}</title>
  </head>
  <body class="h-full bg-yellow">
    <div
      class="flex flex-col h-full align-center justify-center gap-3 p-16 "
    >
      <div class="goback mb-4 hover: cursor-pointer hover:text-red">
        <a href="/">&larr; Go back</a>
      </div>

      <header class="mb-7 flex flex-col">
        <h1 class="text-3xl font-bold mr-10">{{ title }}</h1>
        <p>
          by {{author}} on
          <time datetime="{{date | readableDate}}"
            >{{date | readableDate}}</time
          >
        </p>
      </header>

      <main class="h-full flex flex-col gap-3">
        <p>{{ content | safe }}</p>
      </main>
    </div>
  </body>
</html>
