<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+25&display=swap"
      rel="stylesheet"
    />
    <title>{{title}}</title>
  </head>
  <body class="min-h-screen bg-brown-2">
    {% include "./components/nav.njk" %}

    <div class="flex justify-center  bg-brown-2 gap-3 p-16">
      <div class="flex flex-col rounded  max-w-5xl bg-yellow p-10 mt-10">

      <div class="goback mb-4 hover: cursor-pointer hover:text-red">
        <a href="/">&larr; Go back</a>
      </div>

      <header class="mb-7 flex flex-col">
        <h1 class="text-3xl font-bold mr-10">{{ title }}</h1>
        <p>
          by {{author}} on
          <time datetime="{{date | readableDate}}"
            >{{date | readableDate}}</time
          >
        </p>
      </header>

      <main class="flex flex-col gap-6">
        <p>{{ content | safe }}</p>
      </main>
    </div>
  </div>
    <div
      class="flex bottom-0 absolute items-center w-full text-black justify-between flex-wrap px-5 py-5 bg-brown-1 jersey border-t-4 gap-5 border-black"
    ></div>
  </body>
</html>
