
<nav class="flex items-center text-red justify-between flex-wrap px-5 py-3 bg-yellow jersey border-b-4 gap-5 border-red">
  <a href="/" class="font-semibold text-2xl tracking-tight">hotdogblogger.com</a>

  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="flex items-center gap-3 flex-wrap">
    {% for entry in navPages %}
      <li class="inline">
        <a
          href="{{ entry.url }}"
          class="uppercase text-2xl py-1 px-2 rounded inline-block
          {% if (entry.url in page.url and entry.url != '/') or (page.url == '/' and entry.url == '/')  %}
            bg-black text-white
          {% else %}
            text-zinc-700 dark:text-zinc-200 hover:bg-zinc-100 dark:hover:bg-zinc-700
          {% endif %}">
          {{ entry.title }}
        </a>
      </li>
    {% endfor %}

  </ul>


</nav>