---
title: hotdogblogger.com
layout: "base.njk"
eleventyNavigation:
  key: Home
  order: 0
---
<div class="mt-2 ">
  {% for post in collections.post %}
  <article class="my-8 stroke-black rounded p-6 hover:shadow-[0px_0px_0px_5px_rgba(0,0,0,1)] shadow-[0px_0px_0px_3px_rgba(0,0,0,1)] text-red">
    <h2 class="font-bold  text-3xl mb-1 ">
      <a href="{{ post.url | url }}">
        {% if post.data.title %} {{ post.data.title }} {% else %} Untitled {%
        endif %}
      </a>
    </h2>
    <p class="text-base  leading-6 mb-3">
      <time>
        {{ post.date | readableDate }} by
        <a>{{ post.data.author }}</a>
      </time>
    </p>
 
    {% if post.data.description %}
    <p class="text-lg mb-3 ">{{ post.data.description }}</p>
    {% endif %}

    <p>
      <a href="{{ post.url | url }}" class="text-red-2 font-bold text-lg">
        Read more →
      </a>
    </p>
  </article>
  {% endfor %}
</div>
